body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/
.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card-display {
    margin: 0;
    display: inline-block; 
}

.card-container {
    box-sizing: border-box;
    border: dotted 1px #CCC; 
    width: 30vh;
    /* padding: 10px; */
    margin: 10px;
}

.card-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.card-title {
    margin: 0; 
    padding: 15px;
    font-family: 'Shadows Into Light', cursive;
}

.card-content {
    margin: 0;
    padding: 15px;
}

.card-text {
    margin: 0;
}

.card-button {
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0;
}


/* Tablet Media Query */
@media only screen and (max-width: 1000px) {

}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {

    
}

